<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Surf Conditions Browser</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="header">
        <a href="/about">About</a>
    </div>
    <div class="content">
        <div class="block">
            <img src="/static/images/DALL·E 2024-12-10 21.16.27 - A surreal and humorous illustration of a surfer riding a wave, but instead of water, the wave is made of a golden, translucent liquid resembling urine.jpg"
                alt="Placeholder Image">
        </div>
        <div class="block">
            <h1>!!!!!!!!!!!!!!!!!Undah Construction brotha!!!!!!!!!!!!!!!!!</h1>
            <h1>Surf Conditions Browser</h1>
            <p>Welcome to my surf photo database. On this site, you can search for how the sea in Scheveningen looks
                under user-defined surf conditions. It is a database where you specify the conditions, and the back-end
                provides you with photos of surf conditions that match your search criteria as closely as possible,
                based on scoring system.
            </p>
            <h3>Filenames</h3>
            <p>Each image filename contains detailed information about the surf conditions at the time it was captured.
                These weather parameters were fetched using <a href="https://stormglass.io" target="_blank">Stormglass'
                    API</a> service.
                Here's how the format works:</p>
            <ul>
                <li><strong>Wave Direction:</strong> Indicates the direction of the waves (e.g., <code>N</code>,
                    <code>NE</code>, <code>E</code>).
                </li>
                <li><strong>Wave Height:</strong> Specifies the height of the waves in meters (e.g., <code>2.1m</code>).
                </li>
                <li><strong>Wave Period:</strong> Represents the time interval between waves, in seconds (e.g.,
                    <code>6.5s</code>).
                </li>
                <li><strong>Wind Direction:</strong> Shows the direction of the wind (e.g., <code>NW</code>,
                    <code>SE</code>).
                </li>
                <li><strong>Wind Speed:</strong> The speed of the wind in kmh (e.g., <code>15.3kmh</code>).
                </li>
                <li><strong>Tide Regime:</strong> Indicates the tidal phase (e.g., <code>ml</code> for mid to low,
                    <code>mh</code> for mid to high).
                </li>
                <li><strong>Timestamp:</strong> The date and time the image was captured in the format
                    <code>YYYYMMDD_HHMMSS</code> (e.g., <code>20241111_091723</code>).
                </li>
                <li><strong>Identifier:</strong> Identifier for webcamshot of Aloha or Heartbeach (e.g., <code>a</code>,
                    <code>h</code>).
                </li>
            </ul>
            <h3>How to use this site?</h3>
            <p>Enter your desired surf conditions below and the script returns the best matches. Results are ranked by
                score, and
                <strong>lower scores</strong> mean the surf conditions are closer to your input. A perfect match will
                have a score
                of 0. To query a single parameter, simply input the desired value for that parameter and leave the other
                fields blank—they will be ignored in the scoring.
            </p>

            <p>The score is calculated based on the following factors, with each weighted differently to reflect its
                importance:</p>
            <ul>
                <li><strong>Wave Height (50%):</strong> Larger differences from your desired wave height contribute
                    significantly to the score.</li>
                <li><strong>Wind Speed (20%):</strong> Smaller differences from your desired wind speed result in a
                    lower score.</li>
                <li><strong>Wave Direction (15%):</strong> A mismatch between your desired and the actual wave direction
                    adds a penalty to the score.</li>
                <li><strong>Wind Direction (15%):</strong> A mismatch between your desired and the actual wind direction
                    also adds a penalty.</li>
                <li><strong>Wave Period:</strong> Although less critical, differences in wave period still contribute to
                    the score.</li>
            </ul>
            <p>This scoring system prioritizes wave height as the most important factor, followed by wind speed, and
                then the alignment of wave and wind directions. The closer the conditions match your search, the lower
                the score will be.</p>


        </div>
        <div class="block">
            <img src="/static/images/DALL·E 2024-12-10 21.16.44 - A surreal and humorous illustration of a surfer riding a wave, but instead of water, the wave is made of a thick, muddy substance resembling sludge. T.jpg"
                alt="Placeholder Image" class="align-right">
        </div>
    </div>

    <div class="form-container">
        <div class="form-row">
            <label for="waveHeight">Wave Height (m):</label>
            <input type="number" step="0.1" id="waveHeight">
        </div>
        <div class="form-row">
            <label for="wavePeriod">Wave Period (s):</label>
            <input type="number" step="0.1" id="wavePeriod">
        </div>
        <div class="form-row">
            <label for="waveDirection">Wave Direction:</label>
            <select id="waveDirection">
                <option value="">Any</option>
                <option value="N">N</option>
                <option value="NE">NE</option>
                <option value="E">E</option>
                <option value="SE">SE</option>
                <option value="S">S</option>
                <option value="SW">SW</option>
                <option value="W">W</option>
                <option value="NW">NW</option>
            </select>
        </div>
        <div class="form-row">
            <label for="windSpeed">Wind Speed (km/h):</label>
            <input type="number" step="0.1" id="windSpeed">
        </div>
        <div class="form-row">
            <label for="windDirection">Wind Direction:</label>
            <select id="windDirection">
                <option value="">Any</option>
                <option value="N">N</option>
                <option value="NE">NE</option>
                <option value="E">E</option>
                <option value="SE">SE</option>
                <option value="S">S</option>
                <option value="SW">SW</option>
                <option value="W">W</option>
                <option value="NW">NW</option>
            </select>
        </div>
        <div class="form-row">
            <button id="searchButton">Search</button>
        </div>
    </div>
    <!-- <div id="results-summary" style="display: none; margin-bottom: 20px; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9;">
        <p id="results-summary-text"></p>
    </div> -->

    <div class="content">
        <div class="block"></div>
        <div class="block-center">
            <div id="results-summary"></div>
            <h3 id="results-summary-text"></h3>
        </div>
        <div class="block"></div>
    </div>



    <ul id="results" class="result-list"></ul>

    <!-- Modal for image viewing -->
    <div id="imageModal" class="modal">
        <span id="closeModal" class="close">&times;</span>
        <img id="modalImage" src="" alt="Large View">
    </div>

    <script src="static/app.js"></script>
</body>

</html>