<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Surf Conditions Browser</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Surf Conditions Browser</h1>
    <p>Enter desired surf conditions below to find the best matches.</p>
    <p>Results are ranked by score. Lower scores mean the surf conditions are closer to your search. A perfect match will have a score of 0.</p>

    <div>
        <label for="waveHeight">Wave Height (m):</label>
        <input type="number" step="0.1" id="waveHeight"><br>

        <label for="wavePeriod">Wave Period (s):</label>
        <input type="number" step="0.1" id="wavePeriod"><br>

        <label for="waveDirection">Wave Direction:</label>
        <select id="waveDirection">
            <option value="">Any</option>
            <option value="N">N</option>
            <option value="NE">NE</option>
            <option value="E">E</option>
            <option value="SE">SE</option>
            <option value="S">S</option>
            <option value="SW">SW</option>
            <option value="W">W</option>
            <option value="NW">NW</option>
        </select><br>

        <label for="windSpeed">Wind Speed (km/h):</label>
        <input type="number" step="0.1" id="windSpeed"><br>

        <label for="windDirection">Wind Direction:</label>
        <select id="windDirection">
            <option value="">Any</option>
            <option value="N">N</option>
            <option value="NE">NE</option>
            <option value="E">E</option>
            <option value="SE">SE</option>
            <option value="S">S</option>
            <option value="SW">SW</option>
            <option value="W">W</option>
            <option value="NW">NW</option>
        </select><br>

        <button id="searchButton">Search</button>
    </div>

    <ul id="results" class="result-list"></ul>

    <!-- Modal for image viewing -->
    <div id="imageModal" class="modal">
        <span id="closeModal" class="close">&times;</span>
        <img id="modalImage" src="" alt="Large View">
    </div>

    <script src="static/app.js"></script>
</body>

</html>
